Debug/*
!Debug/bin
!Debug/obj
!Debug/pdb

Debug/bin/*
!Debug/bin/README
!Debug/bin/clang_rt.asan_dynamic-i386.dll

Debug/obj/*
!Debug/obj/README

Debug/pdb/*
!Debug/pdb/README

Release/*
!Release/bin
!Release/obj

Release/bin/*
!Release/bin/README

Release/obj/*
!Release/obj/README